 <ul class="nav nav-pills nav-stacked">
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Tasks", tasks_url %></li>
				<li>" "</li>
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Uploads", uploads_url %></li>
<li>" "</li>
              	<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Channels", channels_url  %></li>
<li>" "</li>
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Programs", programs_url  %></li>
<li>" "</li>
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Markets", markets_url  %></li>
<li>" "</li>
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Demos", demos_url %></li>
<li>" "</li>
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "ProgramSlots", program_slots_url  %></li>
<li>" "</li>
				<li class="label label-info"><span class="badge pull-right"></span><%= link_to "Visualization", visualizations_url  %></li>
            </ul>